@{
    Layout = "_Layout";
}
<div class="jumbotron deletejumbotron">
    <img src="https://images.unsplash.com/photo-1428895009712-de9e58a18409?ixid=MXwxMjA3fDB8MHxzZWFyY2h8N3x8YmFrZXJ5fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"
        alt="hands clap flour">
    <h1>Succesfully Deleted!</h1>
    <p><a href='/'>Return to Home Page</a></p>
</div>
