@{
    Layout = "_Layout";
}

<div class="jumbotron">
    <h1>Order Details: @Model["vendor"].VendorName</h1>
</div>


<div class="orderdetails">
    <h1><strong>Order Title: </strong> @Model["order"].OrderTitle</h1>
    <h3><strong>Order Description: </strong> @Model["order"].OrderDescription</h3>
    <h3><strong>Order Date: </strong> @Model["order"].OrderDate</h3>
    <h3><strong>Order Price: </strong> $@Model["order"].OrderPrice</h3>

    <h4><a href='/vendors/@Model["vendor"].VendorId/orders/new'>Add Another Order</a></h4>
    <h4><a href='/vendors'>View All Vendors</a></h4>
    <h4><a href="/">Return Back to Home Page</a></h4>
</div>
